{% extends '@Contao/block_searchable' %}

{% block content %}

    <div class="card">
        <div class="p-2 d-flex align-items-center">
            <img src="bundles/markocupicsaccabins/images/logo-sac.svg" width="32" height="32" alt="Logo SAC" class="rounded-circle">
            <p class="card-text fw-bold small ms-2">SAC Sektion Pilatus</p>
        </div>

        <div class="image-zoom-in">
            {% if figure %}
                {{ figure|raw }}
            {% endif %}
        </div>

        <div class="card-body">
            <a href="{{ jumpTo }}" class="text-decoration-none" title="{{ 'SAC_CAB.readMore'|trans({}, 'contao_default') }}">
                <h6 class="card-title mt-0">{{ cabin.name }}</h6>
            </a>
            <p><small>{{ cabin.altitude }} {{ 'SAC_CAB.metersAtSeaLevelShortcut'|trans({}, 'contao_default') }}</small></p>
            <p><small>{{ 'SAC_CAB.sleepingPlaces'|trans({}, 'contao_default') }}: {{ cabin.capacity }}</small></p>
            {% if cabin.capacityShelterRoom %}
                <p><small>{{ 'SAC_CAB.shelterRoom'|trans({}, 'contao_default') }}: {{ cabin.capacityShelterRoom }}</small></p>
            {% endif %}
        </div>
    </div>

{% endblock %}
